<div class="container">
  <div class="card" [hidden]="enviando">
    <h5 class="card-header">
      Nueva Categoria.
    </h5>
    <div class="card-body">
      <form [formGroup]="categoriaForm" (submit)="onSubmit(formDirectiva)" #formDirectiva="ngForm">
        <app-error-modelo *ngIf="errores" [errores]="errores"></app-error-modelo>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <input matInput formControlName="nombre" autocomplete="off" type="text" placeholder="Nombre">
              <mat-error *ngIf="nombre.invalid">{{getErrorMessage('nombre')}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <input matInput formControlName="valor" autocomplete="off" type="number" placeholder="Valor">
              <mat-error *ngIf="valor.invalid">{{getErrorMessage('valor')}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex justify-content-between mt-3">
          <a mat-stroked-button routerLink="/configuracion/categoria">
            <mat-icon>arrow_back</mat-icon> Cancelar
          </a>
          <div>
            <button (click)="accion='salvar'" [disabled]="!categoriaForm.valid" mat-raised-button color="primary" type="submit" class="mr-2">
              <mat-icon>save</mat-icon> Guardar
            </button>
            <button (click)="accion='salvarYnuevo'" [disabled]="!categoriaForm.valid" mat-raised-button color="primary" type="submit">
              <mat-icon>save</mat-icon> Guardar y Nuevo
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div [hidden]="!enviando">
    <div class="card">
      <h5 class="card-header">
        Guardando datos
      </h5>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-2 text-right">Categoria:</dt>
          <dd class="col-sm-10">{{nombre.value}}</dd>
        </dl>
        <button mat-stroked-button type="button" (click)="cancelarEnvio()">
          <mat-icon>arrow_back</mat-icon> Cancelar</button>
      </div>
    </div>
  </div>
</div>