div.col-6 > * {
    width: 100%;
}

dt.col-sm-2{
  padding-right: 0;
}

mat-form-field button{
  line-height: 0;
}

.tareas mat-form-field{
  width: 100%;
}

.estado-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.estado-radio-button {
  margin: 2px;
}