<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <a mat-button routerLink=".">
      <mat-icon>layers</mat-icon>
      <span>Examen</span>
    </a>
    </mat-toolbar>
    <mat-nav-list>      
      <router-outlet name="sidebar"></router-outlet>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <a mat-button routerLink=".">Activos</a>
        <!-- <a mat-button [routerLink]="[{outlets:{primary: 'activos/activo', sidebar: ['activo']}}]" [class.router-active]="aplicarClaseCss('activos')">Activos</a> -->
        <a mat-button routerLink=".">Evaluación</a>
        <a mat-button routerLink=".">Riesgos</a>
        <a mat-button [routerLink]="[{ outlets: { primary: 'configuracion/categoria', sidebar: ['configuracion'] } }]" [class.router-active]="aplicarClaseCss('configuracion')">Configuración</a>
        <!-- <a mat-button [routerLink]="[{ outlets: { primary: 'configuracion/categoria', sidebar: ['configuracion'] } }]" routerLinkActive="router-active">Configuración</a> -->
        <!-- <a routerLink="./responsable" routerLinkActive="router-active">Responsable</a> -->
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
