/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*************** Enlaces de la barra de navegacion ***************/
.router-active{
    background-color: brown !important;
}

/**************Sobreescribiendo estilos de bootstrap*************************/

/*Botones con etiqueta <a>*/
a[mat-stroked-button]:hover{
    /* color:inherit; */
    text-decoration: inherit;
}
a[mat-button]:hover {
    color:inherit;
    text-decoration: inherit;
}
a[mat-raised-button]:hover{
    /* color:inherit; */
    text-decoration: inherit;
}
